<%- include('../partials/header') %>

    <section>
        <div>Airline: <%= flight.airline %>
        </div>
        <div>Airport: <%= flight.airport %>
        </div>
        <div>Flight Number:<%= flight.flightNo %>
        </div>
        <div>Departs: <%= flight.departs %>
        </div>
        <% if(flight.destinations.length> 0 ){ %>
            <table>
                <thead>
                    <th>Arrival</th>
                    <th>Airport</th>
                </thead>
                <% flight.destinations.forEach(function(d) { %>
                    <tr>
                        <td>
                            <%= d.arrival.toLocaleDateString() %>
                        </td>
                        <td>
                            <%= d.airport %>
                        </td>
                    </tr>
                    <% }); %>
            </table>
            <% } else{ %>
                <p>No Destinations</p>
                <% } %>
    </section>

    <hr>

    <form action="/flights/<%= flight._id %>/destinations" method="POST">
        <label>Airport:
            <select name="airport">
                <option value="GRR">GRR</option>
                <option value="LAX">LAX</option>
                <option value="DEN">DEN</option>
                <option value="DFW">DFW</option>
            </select>

        </label><br>
        <label>Arrival
            <input type="datetime-local" name="arrival">
        </label><br>
        <button type="submit">Add Arrival</button>
    </form>

    <%- include('../partials/footer') %>